@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box-shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
  }
  .contactInput {
    @apply outline-none rounded-sm border-b px-6 py-4 border-third text-jet-black placeholder-gray-500 transition-all focus:border-[#23B28C]/40 focus:text-jet-black hover:border-[#23B28C]/40;
  }
}

body {
  overscroll-behavior-y: none;
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar.sticky {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.spline-canvas {
  border-radius: 50% 50% 50% 50% / 60% 30% 70% 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
  /* font-size: 164px; */
  width: 600px;
  /* height: 530px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: 10% 60%;
  max-width: 80%;
  margin: auto;
}

.card-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* padding-top: 50px; */
  margin-bottom: -50px;
}
